html, body {
  height: 100%;
  width: 100%;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-position: center center;
  background-color: #FF5621;
  margin: 0;
  padding: 0;
  direction: rtl; }

section {
  height: 100%;
  display: table; }
  section .container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%; }